<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <h3 class="text-3xl mb-5">Hello, <%= user.name %></h3>
        <h5>You can create a new post</h5>
        <form action="" method="post">
            <textarea class="resize-none"></textarea>
        </form>
    </div>
</body>
</html>